@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.credit-data {
  font-size: 15px;
  color: #808080;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  color: rgb(54, 162, 235);
}

#map {
  height: 100%;
  width: 100%;
}

.chart-icon {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
}

#map-description {
  position: absolute;
  top: 90px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 2px solid black;
  z-index: 1000;
  border-radius: 10px;
  font-size: large;
}

#legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 2px solid black;
  z-index: 1000;
  border-radius: 10px;
}

#legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#legend li {
  display: flex;
  align-items: center;
}

#legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
